aniso8601==3.0.2
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
certifi==2018.10.15
Click==7.0
colorama==0.4.0
decorator==4.3.0
Django==2.2.24
django-cors-headers==2.2.0
django-tastypie==0.14.1
Flask==1.0.2
Flask-RESTful==0.3.6
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ItsDangerous==1.0.0
jedi==0.13.1
Jinja2==2.10
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
MarkupSafe==1.0
more-itertools==4.3.0
neo4j-driver==1.6.2
neotime==1.7.1
parso==0.3.1
pickleshare==0.7.5
Pillow==5.1.0
pluggy==0.8.0
prompt-toolkit==1.0.15
py==1.7.0
py2neo==4.1.0
Pygments==2.2.0
pytest==3.9.1
python-dateutil==2.7.3
python-mimeparse==1.6.0
pytz==2018.4
pyzmq==17.1.2
simplegeneric==0.8.1
six==1.11.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
